/* image PA-44-180 */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
/* Input */
input {
text-align: center;
}
/* Table */
table {
margin-left: auto;
margin-right: auto;
}
/* Header cell in a table */
th {
text-align: left;
}
/* Cell in a table */
td  {
  text-align: center;
}
caption {
  text-align: center;
}
